---
---

@import "{{ site.theme }}";

header.page-header {
  background-image: linear-gradient(120deg, #b00404, #b74800);
}

h2#logistics {
  color: maroon;
}

h2#panelists {
  color: maroon;
}

h3#ivy-peng {
  color: maroon;
}

h3#chris-white {
  color: maroon;
}

h3#cameron-rutherford {
  color: maroon;
}

h3#adrian-jackson {
  color: maroon;
}
